
*.txt
*.pdf
*.jpeg
*.tsv
*.sel
*.rad

.DS_Store
.Rhistory

00-rawData

01-SNPfilters/01-Diplodus/
01-SNPfilters/02-Mullus/
01-SNPfilters/filtering_dip.sh
01-SNPfilters/filtering_mul.sh

04-finalPrep/01-Diplodus/
04-finalPrep/02-Mullus/

